/* APP STYLINGS */
body {
  background-color: #000;
  background-image:url(img/background.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.app-body {
  margin: 1em 20%;
  padding: 1.25em;
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

/* HEADER STYLINGS */
.sf-flame-o {
  font-size: 36px;
  color: #fff;
}
.navigation-bar {
  width: 100%;
  position: relative;
  background-color:rgba(63,49,45,0.5);
  padding: 1em;
  overflow: hidden;
}
.navigation-left {
  float: left;
  margin-left: 1em;
}
.navigation-left a {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navigation-right ul {
  list-style-type: none;
  overflow: hidden;
  float: right;
}
.navigation-right li {
  float: left;
}
.navigation-right li a {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.navigation-right li a:hover,
.navigation-right .active {
  background-color:rgba(255,255,255,.25);
  color: #fff;
}

/* GENERAL PAGE STYLINGS */
.page-body {
  padding: 1em;
}

.page-header {
  text-align: center;
  font-size: 3em;
  color: #738a81;
  font-family: 'Georgia';
  text-shadow: 1px 1px #000;
}

.page-text {
  text-align:justify;
  color: 848685;
}

.page-text b {
  color: #738a81;
  font-size: 1.25em;
}

/* CHAT ROOM STYLINGS */
.chat-body {
    background-color: #fff;
    padding: 1em;
}

.post-editor {
  margin: 1em;
}

.post-editor-button {
  float: right;
  margin-top: 1em;
}

.chat-posts {
  max-height: 600px;
  overflow: auto;
  padding: 1em;
  background-color: #fff;
}

.post-author {
  font-weight: bold;
  color: #738a81;
}

.post-body {
  margin: 0.25em 0;
  text-align: justify;
  color: #848685;
}

.btn-submit {
  color: #fff;
  background-color: #738a81;
  border-color: #738a81;
}

.btn-delete {
  color: red;
  font-size: 10px;
  font-family: arial;
  text-transform: uppercase;
}

.btn-delete:hover {
  text-decoration: none;
  color: red;
}

/* MEDIA QUERIES */

@media(max-width:400px) {
  .app-body {
    margin: 1em;
  }

  .navigation-left a {
    display: block;
    padding: 0.25em;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }

  .navigation-right li a {
    padding: 0.25em;
    font-size: 1em;
  }

  .chat-posts {
    max-height: 200px;
    overflow: auto;
    padding: 1em;
    background-color: #fff;
  }

  .page-header {
    font-size: 1.5em;
    text-shadow: 0px 0px;
  }
}

@media(max-width: 900px) {
  .app-body {
    margin: 1em;
  }

  .page-header {
    font-size: 2em;
  }

  .chat-posts {
    max-height: 400px;
    overflow: auto;
    padding: 1em;
    background-color: #fff;
  }
}
